/* Body & html auf volle Höhe */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Hintergrundbild */
body {
  background-image: url('assets/lernen.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: flex-start; /* wenn du den Container oben willst, sonst center */
  padding-top: 60px;
  min-height: 100vh; /* Body füllt mindestens die Höhe des Viewports */
}

/* Container */
.container {
  background-color: rgb(174, 218, 176);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Inputs & Buttons */
input {
    
 margin-bottom: 5%;
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px;
}

/* Liste */
li {
  margin: 5px 0;
  list-style: none;
  padding: 5px;
  background-color: #e3e3e3;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
